#chart{
    width:20%;
    padding:24px;
    background-color: #0f2d6b;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 100vh;
    .chart_wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items:center ;
    }
    .tag_btn{
        display: none;
    }
    .bar_chart{
        text-align: center;
        display: inline-block;
        position: relative;
        width: 100%;
        height: 40%;
        h2{
            color: #fff;
        }
        
    }
    .pie_chart{
        text-align: center;
        display: inline-block;
        position: relative;
        width: 100%;
        height: 40%;
        canvas{
            width: 50%;
        }
    }

}
@media(max-width:1530px){
    #chart{
        width: 30%;
        position: fixed;
        right: 0;
        height: 100%;
        border: 4px solid rgba(255,255,255,.5);
        border-right: none;
        background-color: #1c2478;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        .tag_btn{
            cursor: pointer;
            position: absolute;
            display: flex;
            gap: 4px;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);
            -webkit-box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);
            -moz-box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);
            width: 80px;
            padding: 10px;
            left: -84px;
            top: 50%;
            border-radius: 24px 0 0 24px;
            -webkit-border-radius: 24px 0 0 24px;
            -moz-border-radius: 24px 0 0 24px;
            -ms-border-radius: 24px 0 0 24px;
            -o-border-radius: 24px 0 0 24px;
            i{
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transition: all .4s linear;
                -webkit-transition: all .4s linear;
                -moz-transition: all .4s linear;
                -ms-transition: all .4s linear;
                -o-transition: all .4s linear;
            }
        }
    }
    .close{
        right: -30% !important;
        .tag_btn{
            i{
                transform: rotate(0deg) !important;
                -webkit-transform: rotate(0deg) !important;
                -moz-transform: rotate(0deg) !important;
                -ms-transform: rotate(0deg) !important;
                -o-transform: rotate(0deg) !important;
            }
        }
    }
}