#report{
    width: 65%;
    background-color:rgb(0, 32, 98);
    padding: 0 24px;
    .head{
        padding: 24px 0;
        height: 100px;
        .total_count{
            cursor: default;
            display: flex;
            align-items: center;
            gap: 24px;
            >div{
                width: 50%;
                display: flex;
                gap: 24px;
                align-items: center;
            }
            .ads_total .flag{
                display: flex;
                align-items: center;
                gap: 4px;
                div{
                    font-size: 16px;
                    background-color: rgb(113, 221, 177);
                    color: #000;
                    padding: 4px 12px;
                    border-radius: 0px 100px 100px 0px;
                    font-weight: 700;
                }
                span{
                    font-size: 40px;
                    color: #71DDB1;
                }
            }
            .sales_total .flag{
                display: flex;
                align-items: center;
                gap: 4px;
                div{
                    font-size: 16px;
                    background-color: rgb(221, 113, 126);
                    color: #000;
                    padding: 4px 12px;
                    border-radius: 0px 100px 100px 0px;
                    font-weight: 700;
                    -webkit-border-radius: 0px 100px 100px 0px;
                    -moz-border-radius: 0px 100px 100px 0px;
                    -ms-border-radius: 0px 100px 100px 0px;
                    -o-border-radius: 0px 100px 100px 0px;
                }
                span{
                    font-size: 40px;
                    color: rgb(221, 113, 126);
                }
            }
        }
    }
    .table_container{
        display: flex;
        width: 100%;
        justify-content: center;
        height: calc(100vh - 100px);
        overflow-y: scroll;
        &::-webkit-scrollbar-track {
            /*捲軸底色*/
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color:#002062;
        }   
        &::-webkit-scrollbar {
            /*捲軸寬度*/
            width: 4px;
            background-color: #000;
        }
        &::-webkit-scrollbar-thumb {
            /*捲軸本體顏色*/
            background-color: #71DDB1;
        }
    }
    .member_table,.sales_table{
        width: 50%;
        position: relative;
        .date_picker{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 10px;
            gap: 10px;
            .dp__input{
                min-width: 250px;
                color: #71DDB1;
                background-color:unset;
                border: none;
                padding-right: 0;
                font-size: 24px;
            }
            .dp__clear_icon{
                display: none;
            }
            .dp__input_icon{
                color: #71DDB1;
            }
            i{
                background-color: rgba($color: #fff, $alpha: .3);
                padding: 5px;
                cursor: pointer;
                color: #71DDB1;
                &:hover{
                    background-color: rgba($color: #fff, $alpha: .5);
                }
            }
            .deny{
                color: #011641;
                background-color: rgba($color: #fff, $alpha: .1);
                &:hover{
                    background-color: rgba($color: #fff, $alpha: .1);
                }
            }
        }
        table {
            width: 100%;
            text-align: center;
            border-collapse: collapse;
        }
        table .lock_date{
            position: sticky;
            top: 0px;
            z-index: 3;
            background-color: #002062;
        }
        table .lock{
            position: sticky;
            top: 44px;
            z-index: 2;
            background-color: #002062;
        }
        table .view{
            cursor:zoom-in;
        }
        table .lock_bottom{
            position: sticky;
            bottom: 0px;
            z-index: 2;
            background-color: #002062;
            th{
                cursor: pointer;
                padding: 16px 5px;
                font-size: 24px;
                font-weight: bold;
                color: #e6e6e6;
                text-align: center;
                height: 100%;
                p{
                    display: flex;
                    gap: 4px;
                    align-items: center;
                    justify-content: center;
                    // background: #011641;
                    border-radius: 8px;
                    height: 50px;
                    margin: 0;
                }
            }
        }
        table .left_bottom th p{
            background-color: #71DDB1 !important;
            color: #011641;
        }
         table .right_bottom th p{
            background-color: rgb(221, 113, 126) !important;
            color: #011641;
        }
        table td, table th {
            padding: 16px 0px;
        }
        table tbody td {
            font-size: 18px;
            color: #E6E6E6;
            cursor: default;
            height: 100px;
            max-height: 100px !important;
        }
        table tbody .th_name{
            max-width: 100px;
            padding: 0 24px;
            position: relative;
            font-size: 14px;
            i{
                cursor:zoom-in;
                position: absolute;
                left: 0;
                top: 50%;
                font-size: 18px;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
            }
            img{
                position: absolute;
                width: 300px;
                left: 20px;
                top: 0;
                display: none;
                z-index: 2;
            }
        }
        table tbody .ads_date{
            position: relative;
            span{
                position: absolute;
                top: 10px;
                left: 0;
                width: 100%;
                color: #44e115;
                font-size: 14px;
                padding: 4px;
            }
        }
        table tbody .red{
            color: rgb(242, 91, 91);
        }
        table tbody .green{
            color: #71DDB1;
        }
        table tr:nth-child(even) {
            background: rgba(255, 255, 255, 0.1);
        }
        table thead th {
            cursor: pointer;
            padding: 0 5px;
            font-size: 12px;
            font-weight: bold;
            color: #E6E6E6;
            text-align: center;
            height: 100%;
            p{
                display: flex;
                gap: 4px;
                align-items: center;
                justify-content: center;
                background: #011641;
                border-radius: 8px;
                height: 50px;
                margin: 0;
            }
        }
    }
    .member_table table{
        border-right: 1.5px dashed #fff;
    }
    .line_chart{
        z-index: 3;
        position: fixed;
        width: 800px;
        height: 600px;
        top: 50%;
        left: 50%;
        background-color: #fff;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        i{
            cursor: pointer;
            position: absolute;
            right: -20px;
            top: -20px;
            font-size: 40px;
            color: #ccc;
            background-color: #000;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
}

@media(max-width:1530px) {
    #report {
        width: 85%;
        .head{
            .total_count{
                .ads_total .flag{
                    div{
                        font-size: 14px;
                    }
                    span{
                        font-size: 18px;
                    }
                }
                .sales_total .flag{
                    div{
                        font-size: 14px;
                    }
                    span{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}